/* Extension Styles */
.circle {
	position: absolute;
	z-index:-100;
	opacity:1.0;
/*	background:rgba(100,100,100,0.1);
	border: 1px solid #dfdfdf;
*/
}

#debug {
	position: absolute;
	top:0;
	left:0;
	width:180px;
	padding-left:5px;
	z-index:1000;
	font: .7em/1.0em Helvetica;
	font-weight:bold;
	background: gray;
}



/* Wikipedia Restyle */
body {
	background-color: inherit;
	border:none;
}
#content.mw-body {
	position: absolute;
	margin-left: 0px;
	font: 1.2em/1.2em sans-serif;
	margin: 0;
	padding: 80px 10%;
	background-color: transparent;
	overflow:hidden;
	width: 80%;
	z-index: 100;
}
#mw-panel, #mw-page-base, #mw-head-base, #mw-head, #toc, #footer {
	display: none;
}





/* Options Panel */
#options {
	position:fixed;
	top:10px;
	right:10px;
	width:250px;
	font: 0.8em/1.2em sans-serif;
	z-index:1000;
}

#optionsHeader {
	padding:3% 5%;
	width:90%;
	height:20px;
	font-weight:bold;
	border-bottom: 2px solid #dfdfdf;
	background: white;
}

#optionsHeader:hover {
	cursor:pointer;
}

#optionsTitle {
	float:left;	
}

#optionsPanelToggle {
	float:right;
}

#displayChoices, #displayChoicesHidden {
	display:inline-block;
	width:46%;
	margin-right:2%;
	margin-bottom: 5%;
	vertical-align: top;
}

#displayChoicesHidden {
	display:none;
}


#optionsForm {
	display:none;
	padding:5%;
	background: rgba(210,210,210,0.9);
}

#optionsSaveButton {
	background:black;
	border:none;
	text-align: center;
	width:100%;
	padding:15px 0px;
	color:white;
	font: 1.0em/1.2em sans-serif;
	border-radius:8px;
}

#optionsSaveButton:hover {
	background:blue;
	cursor:pointer;
}

#incrementInput, #incrementErrorBox {
	display:inline-block;
}

#incrementField {
	font-weight:bold;
	font: 1.5em/1.2em sans-serif;
	width:200px;
}

#optionsStatus {
	font: 1.5em/2.2em sans-serif;
	margin:0;
	padding:0;
	font-weight:bold;
	color:#2daf20;
}
